.grid{
    width: 606px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.square{
    height: 150px;
    width: 150px;
    border: solid black 1px;
}
.mole{
    /* background-color: red; */
    background-image: url(monkey.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
}
